.main{
     
    padding: 3%;
    border-radius: 2%;
    background-color: rgb(197, 190, 190);
    height: .5%;
   


}
.h1{
    display: inline;
    font-family: "Edu VIC WA NT Beginner", cursive;
    font-optical-sizing: auto;
    height: 50px;
   
  }
   
    
    

.img{
    border-radius: 3%;
    }
    li{
        display: inline;
        margin-left: 1%;
        
    
        
         
        
    }
    .dd{
        display: inline;
        margin-left: 35%;
         
    }
    .im{
        margin-top: 4%;
        margin-left:7.5%;
        width: 20%;
        
    }    .im1{
        margin-top:-33.2%;
        margin-left: 31%;
        width: 20%;
        
    }
    .im2{
        margin-top: -15.3%;
        margin-left: 46%;
        width: 25%;
    }
    table,td,th{
        margin-left: 61.5%;
        width: 13%;
        height: 75%;
        margin-top: -15.6%;
        border: .5px solid black;
        border-collapse: collapse;
    }
    .w{
        width: 60%;
        font-size:10px;
    }
    .h{
        width: 90%;
        font-size: 13px;
    }
    .c{
        border-radius: 85%;
        width: 62px;
        height: 62px;

    }
    .im3{
        margin-left: 7.9%;
        margin-top: -6%;
        display: flex;
    }
    .im4{
        margin-left: 30%;
        margin-top: -21%;
        width: 15%;
        font-size: 12px;
    }
    .im5{
        margin-left: 45%;
        margin-top: -16.5%;
        width: 14%;
        font-size: 12px;
    }
    .ma{
        margin-left: 9%;
    }    
    .im6{
        margin-left: 36%;
        margin-top: 1%;
        font-size: 12px;
        width: 14%;
    }
    .im7{
        margin-left: 50.5%;
        margin-top: -279;
        width: 14%;
        font-size: 12px;
    }
    .h2{
        margin-left: 16%;
        margin-top: 0%;
        display: flex;
        font-size: 19px;


    }
    .pa{
    margin-left: 50%;
    margin-top: 4;
    font-size: 14px;
    font-style: italic;
    }
     .m5{
        margin-top: 0%;
        margin-left: 15%;
        border-top: 2px solid black;
        margin-right: 20%;
     }
     .mh{
        margin-left: 42%;
        margin-top: -310px;
        width: 290px;
        

     }
     .m10{
        width: 60px;
        height: 60px;
        margin-left: 42%;
        border-radius: 50%;
     }
     .im10{
        display: flex;
        font-size: 20px;
     }
     .mm{
        margin-left: 60%;
       margin-top:  -370px;
        width: 400px;

     }
     .mc{
        border-top: 2px solid gray;
        margin-left: 60%;
        margin-top:  -10px;
         width: 400px;
     }
     .bacardi{
        border-top: 2px solid gray;
        margin-left: 60%;
        margin-top: 0px;
         width: 400px;

     }
     .javan{
        border-top: 2px solid gray;
        margin-left:60%;
        margin-top: 0px;
         width: 400px;
         border-bottom: 2px solid gray;
     }
     .pho{
        margin-left: 27%;
        margin-top: -550px;
     }
     .puppy{
        margin-left: 15%;
        margin-top: -450px;
        width: 200px;
        font-size: 15px;
        border-bottom: 2px solid gray;

     }
     .see{
        margin-left: 28%;
        margin-top: -0px;
        width: 30%;
        font-size: 15px;
     }
     .u{
        margin-left: 15%;
        width: 200px;
        margin-top: -150px;
     }
     .BB{
        margin-left: 15%;
        margin-top:0;
        font-size: 20px;
        border-bottom: 2px solid gray;
     }
     .FF{
        margin-left: 15%;
        margin-top: 0px;
        width: 300px;
        border-bottom: 2px solid gray;
     }
     .k{
       
        
        margin-left: 15%;
        margin-top: -330px;
        width: 300px;
        border-bottom: 2px solid gray;
     }
    .RR{
        margin-left: 31%;
        margin-top: -175px;

    }
    .ON{
        margin-left: 15%;
        margin-top: -0px;
        width: 300px;
        border-bottom: 2px solid gray;
    }
    .PP{
        margin-left: 70%;
        margin-top:-60px;
        font-size: 18px;
        font-style: italic;
    }
    .OL{
        margin-left: 64%;
        width: 300px;
        margin-top: -965px;
    }
    .OK{
        margin-left:64% ;
        display: flex;
    }
    .YY{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
    }
    .YO{
        margin-left: 31%;
        width: 300px;
        margin-top: 100px;
    }
    .LOW{
        margin-left: 50%;
        margin-top: -600px;
        width: 600px;

    }
    .CC{
        margin-left: 15%;
        width: 300px;
        margin-top: 8px;
        font-size: 14px;
    }
    .DD{
        margin-left:15% ;
        display: flex;
    }
    .HIG{
        margin-left: 32%;
        width: 300px;
        margin-top: -557px;
        font-size: 14px;
    }
    .HO{
        margin-left: 32%;
        width: 350px;
        margin-top:0px;
        font-size: 14px;
    }
    .TT{
        margin-left: 50%;
        width: 350px;
        margin-top:-620px;
        font-size: 14px;
    }
    .AA{
        margin-left: 50%;
        width: 350px;
        margin-top:px;
        font-size: 14px;
    }
    .LOL{
        margin-left: 15%;
        width: 300px;
        margin-top: 0px;
        font-size: 14px;
        border-bottom: 2px solid gray;
    }
    .OO{
        margin-left: 15%;
        width: 300px;
        margin-top: 0px;
        font-size: 14px;
    }
    .QQ{
        margin-left: 32%;
        width: 350px;
        margin-top:-230px;
        font-size: 14px;
    }
    .SA{
        margin-left: 50.5%;
        margin-top: -330px;
        width: 350px;
        font-size: 14px;
    }
    .one{
        margin-left:68%;
        margin-top: -900px;
         width: 350px;
         border-bottom: 2px solid gray;
    }
    .two{
        margin-left:68%;
        margin-top: 0px;
         width: 350px;
         border-bottom: 2px solid gray;
    }
    .doom{
        margin-left: 15%;
        width: 160px;
        margin-top: 10px;
        color: aliceblue;
        
    }
    .dry{
        background-color: black;
    }
    .tom{
        margin-left: 27%;
        margin-top: -320px;
        width: 100px;
        color: aliceblue;
    }
    .jerry{
        margin-left: 35%;
        margin-top: -120px;
        width: 100px;
        color: aliceblue;
    }

