.head{
    background-color: rgb(255, 232, 223);
}
.container{
    font-size: 15px;
    color: black;
}
.bar{
   
    background-color: rgb(41, 39, 39);
}
.bar2{
    display: flex;
}
.drop{
    size: 5px;
    display:flex;
    padding-left: 115px;
}
.para{
    display: flex;
    justify-content: space-around;
    padding-left: 25px;
    padding-top: 30px;
    font-size: 15px;
    color: white;
}