.main{
   font-size: medium;
   font-style: italic;
}
.img{
border-radius: 3%;
}
.ma{
    width: 40%;
    margin-left:30%;
    background-color:white;
    padding: 3%;
    border-radius: 2%;
    box-shadow: 2%;

}
th{
    border-bottom:.2px solid black;
    
}
table{
    width: 100%;
}
.aa{
    background-color: rgb(245, 225, 250);
    padding: .5%;
}
.bk{
    background-color:antiquewhite;
    padding: 3%;
}
h1{
    font-style: oblique;
}
